<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net461" />
  <package id="MathNet.Numerics.MKL.Win" version="2.2.0" targetFramework="net461" />
  <package id="NAudio" version="1.8.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OggVorbisEncoder" version="1.1.0" targetFramework="net461" />
  <package id="SharpLearning.Common.Interfaces" version="0.28.1" targetFramework="net461" />
  <package id="SharpLearning.Containers" version="0.28.1" targetFramework="net461" />
  <package id="SharpLearning.InputOutput" version="0.28.1" targetFramework="net461" />
  <package id="SharpLearning.Neural" version="0.28.1" targetFramework="net461" />
</packages>